/*===========Colors=============*/
:root {
    --body: #f3f3f3;
    --primary: #0e1133;
    --secondary: #e3e3e3;
    --shadow: #494949;
    --disabled: #707070;
    --danger: #ff5a5a;
    --dangerLight: #ffc5c5;
    --warning: #d86d00;
    --warningLight: #f9a652;
    --success: #25850e;
    --successLight: #27ce00;
}

body {
    background-color: var(--body);
}

.user-page {
    padding: 10px 20px 10px 400px;
}

.brand {
    display: flex;
}

.brand span {
    font-family: "Times New Roman", Times, serif !important;
    margin-left: 15px;
    vertical-align: middle;
}

.login-page {
    padding: 10px 10px 10px 380px;
}

.login-container {
    position: relative;
    margin: auto;
    top: 100px;
    width: 700px;
}

.login-container .brand img {
    width: 200px;
    height: 200px;
}

.login-container .brand span {
    color: var(--primary);
    font-weight: bold;
    font-size: 3rem;
}

.side-panel {
    position: fixed;
    height: 100vh;
    width: 380px;
    background-color: var(--primary);
    border-radius: 0 30px 30px 0;
    padding: 30px;
}

.login-form {
    position: absolute;
    padding-top: 30px;
    width: 500px;
    right: 0;
}

.btn-right {
    position: absolute;
    right: 0;
}

label {
    color: var(--primary);
    font-weight: bold;
}

input:not([type="checkbox"]),
select {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 0;
    border: 0;
    border-left: 3px solid var(--primary);
    box-shadow: 3px 3px 6px var(--disabled);
    transition: 0.5s;
}

input:focus:not([type="checkbox"]),
select:focus {
    border-left: 10px solid var(--primary);
    box-shadow: 3px 3px 6px var(--shadow);
    outline: 0;
}

#rfid_input {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
}

.btn-simple {
    border: 0;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 5px 15px;
}

.bg-red {
    background-color: var(--danger);
    color: var(--secondary);
}

.sidenav {
    position: fixed;
    height: 100%;
    width: 380px;
    background-color: var(--primary);
    border-radius: 0 30px 30px 0;
    padding: 30px;
}

.sidenav .brand img {
    width: 83px;
}

.sidenav .brand span {
    font-size: 2rem;
    color: var(--secondary);
    line-height: 30px;
}

.sidenav .nav-links {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.sidenav .nav-links .nav-link {
    color: var(--secondary);
    font-size: 1.3rem;
}

.form-container {
    position: relative;
    max-width: 700px;
    margin: auto;
}

.tab-links{
    background-color: var(--secondary);
}

.tab-link{
    background: none;
    border: none;
    width: 100%;
    padding: 30px;
    transition: 0.5s;
}

.tab-link.active{
    background-color: var(--body);
    border-left: 10px solid var(--primary);
}

.tab-content{
    padding-left: 30px;
}

.list-container{
    height: 300px;
    width: 400px;
    overflow: scroll;
}
